*{
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
}
body{
    background: #f0f0f0;
}
#menu{
    background: #fff;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 6px 0px rgba(60,60,60,0.5);
}
#storelogo{
    background-image: url(assets/logo001%20copy.png);
    height: 50px;
    width: 25%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 10px;
    left: 0px;
}
#companylogo{
    background-image: url(img/logo.png);
    height: 50px;
    width: 25%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 10px;
    left: 25%;
}
#contact1 i{
    color: #08f;
    height: 30px;
    padding: 10px 0;
}
#contact1 p{
    font-size: 70%;
    float: left;
    height: 20px;
    padding: 15px;
}
#contact2 i{
    color: #084;
    height: 30px;
    padding: 10px 0;
}
#contact1{
    font-weight: bolder;
    position: fixed;
    width: auto;
    height: 30px;
    padding: 0;
    color: #333;
    top: 10px;
    right: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 150%
}
#contact2{
    font-weight: bolder;
    position: fixed;
    width: auto;
    height: 30px;
    padding: 0;
    color: #333;
    top: 10px;
    right: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 150%
}
#products{
    margin-top: 70px;
    width: 100%;
    height: 100%;
}
.prodwrap{
    width: 48%;
    height: 300px;
    margin: 1%;
    background: #fff;
    border-radius: 20px;
    float: left;
}
.prodimg{
    height: 300px;
    width: 46%;
    height: 250px;
    padding: 0 2%;
    margin-top: 25px;
    border-radius: 20px;
    float: left;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.proddesc{
    float: right;
    width: 46%;
    padding: 2%;
    text-align: justify;
}
h3{
    padding: 10px 0;
}
h2{
    padding: 10px 0;
}
p{
    padding: 20px 20px 20px 0;
    height: 103px;
}
.addnow{
    width: 100%;
    height: 40px;
    vertical-align: bottom;
    border-radius: 10px;
}
#copy{
    text-align: center;
    background: #fff;
    height: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 6px 0px rgba(60,60,60,0.5);
    
}
@media only screen and (max-width: 600px) {
    #storelogo{
        left: 3%;
        width: 22%;
    }
    #companylogo{
        left: 28%;
        width: 22%;
    }
    #products{
        width: 100%;
        height: 100%;
    }
    .prodwrap{
        width: 100%;
        margin: 5px 0;
    }
    h3{
        font-size: 80%;
    }
    h2{
        font-size: 100%;
    }
    p{
        font-size: 80%;
    }
        }